<a href="https://colab.research.google.com/github/ROARMarketingConcepts/Data-Analysis-Projects/blob/master/Eumie_Jhong_Python_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### I am trying to have the top 10 countries with the highest GDP per year 'gdp_for_year ($)' column as well as the suicide rate per 100k, or the 'suicides/100k pop' column for pandas. Is there a way I could simultaneously write a command to generate both of these information for the 10 ten countries?

In [0]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

## Set up the programming enviroment

In [0]:
import pandas as pd

## Load the dataset...

In [0]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Thinkful/Suicides.csv',thousands=',')

In [0]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null int64
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.5+ MB

In [0]:
countries_gdp = df.groupby(['country'])[' gdp_for_year ($) '].mean().reset_index()
countries_gdp

                          country   gdp_for_year ($)
0                         Albania        5.211661e+09
1             Antigua and Barbuda        8.035452e+08
2                       Argentina        2.742565e+11
3                         Armenia        5.386592e+09
4                           Aruba        2.196223e+09
5                       Australia        6.327501e+11
6                         Austria        2.660162e+11
7                      Azerbaijan        7.210687e+09
8                         Bahamas        7.613828e+09
9                         Bahrain        1.608647e+10
10                       Barbados        3.090574e+09
11                        Belarus        3.067641e+10
12                        Belgium        3.184024e+11
13                         Belize        9.560371e+08
14         Bosnia and Herzegovina        1.860153e+10
15                         Brazil        1.022561e+12
16                       Bulgaria        2.714460e+10
17                     Cabo Verde        1.864824e+09
18                         Canada        9.131876e+11
19                          Chile        1.112543e+11
20                       Colombia        1.444638e+11
21                     Costa Rica        1.918353e+10
22                        Croatia        4.317814e+10
23                           Cuba        4.608462e+10
24                         Cyprus        2.137970e+10
25                 Czech Republic        1.220562e+11
26                        Denmark        2.530342e+11
27                       Dominica        9.858518e+07
28                        Ecuador        3.960132e+10
29                    El Salvador        1.354975e+10
..                            ...                 ...
71                    Puerto Rico        6.322157e+10
72                          Qatar        1.100206e+11
73              Republic of Korea        6.734208e+11
74                        Romania        9.608785e+10
75             Russian Federation        8.843229e+11
76          Saint Kitts and Nevis        2.160186e+08
77                    Saint Lucia        8.409455e+08
78   Saint Vincent and Grenadines        4.884483e+08
79                     San Marino        1.425417e+09
80                         Serbia        3.112522e+10
81                     Seychelles        8.564692e+08
82                      Singapore        1.254921e+11
83                       Slovakia        5.379573e+10
84                       Slovenia        3.590006e+10
85                   South Africa        2.494661e+11
86                          Spain        8.565680e+11
87                      Sri Lanka        1.532645e+10
88                       Suriname        1.943388e+09
89                         Sweden        3.549738e+11
90                    Switzerland        4.565306e+11
91                       Thailand        2.095240e+11
92            Trinidad and Tobago        1.044825e+10
93                         Turkey        8.382300e+11
94                   Turkmenistan        1.157956e+10
95                        Ukraine        8.389111e+10
96           United Arab Emirates        2.532432e+11
97                 United Kingdom        1.816067e+12
98                  United States        1.051071e+13
99                        Uruguay        2.337827e+10
100                    Uzbekistan        2.286003e+10

[101 rows x 2 columns]

In [46]:
countries_gdp.sort_values(by=[' gdp_for_year ($) '],ascending=False).head(10)

               country   gdp_for_year ($)
98       United States        1.051071e+13
46               Japan        4.339221e+12
35             Germany        2.742233e+12
97      United Kingdom        1.816067e+12
33              France        1.781194e+12
44               Italy        1.481752e+12
15              Brazil        1.022561e+12
18              Canada        9.131876e+11
75  Russian Federation        8.843229e+11
86               Spain        8.565680e+11

In [41]:
countries_avg_suicide_rate = df.groupby(['country'])['suicides/100k pop'].mean().reset_index()
countries_avg_suicide_rate

                          country  suicides/100k pop
0                         Albania           3.502879
1             Antigua and Barbuda           0.552901
2                       Argentina          10.469328
3                         Armenia           3.275872
4                           Aruba           9.503095
5                       Australia          12.992806
6                         Austria          23.759764
7                      Azerbaijan           1.855417
8                         Bahamas           1.247391
9                         Bahrain           1.854127
10                       Barbados           2.970433
11                        Belarus          31.075913
12                        Belgium          21.237903
13                         Belize           6.230625
14         Bosnia and Herzegovina           4.617083
15                         Brazil           5.846022
16                       Bulgaria          19.489111
17                     Cabo Verde          11.153333
18                         Canada          12.467586
19                          Chile          10.542043
20                       Colombia           5.401586
21                     Costa Rica           7.093667
22                        Croatia          22.835267
23                           Cuba          21.222049
24                         Cyprus           3.293596
25                 Czech Republic          18.487547
26                        Denmark          14.097159
27                       Dominica           0.000000
28                        Ecuador           6.304328
29                    El Salvador          10.541458
..                            ...                ...
71                    Puerto Rico          10.186237
72                          Qatar           1.787360
73              Republic of Korea          25.135618
74                        Romania          12.489671
75             Russian Federation          34.892377
76          Saint Kitts and Nevis           0.000000
77                    Saint Lucia           7.202738
78   Saint Vincent and Grenadines           5.755433
79                     San Marino           4.045000
80                         Serbia          22.164120
81                     Seychelles           7.480093
82                      Singapore          17.045645
83                       Slovakia          12.568788
84                       Slovenia          27.827857
85                   South Africa           0.964542
86                          Spain           9.432957
87                      Sri Lanka          35.295152
88                       Suriname          21.316429
89                         Sweden          14.658436
90                    Switzerland          19.024087
91                       Thailand           7.073862
92            Trinidad and Tobago          13.825648
93                         Turkey           2.371071
94                   Turkmenistan           8.605546
95                        Ukraine          26.582321
96           United Arab Emirates           1.317917
97                 United Kingdom           7.502473
98                  United States          13.819812
99                        Uruguay          19.461190
100                    Uzbekistan           8.099129

[101 rows x 2 columns]

In [43]:
countries_avg_suicide_rate.sort_values(by=['suicides/100k pop'],ascending=False).head(10)

               country  suicides/100k pop
52           Lithuania          40.415573
87           Sri Lanka          35.295152
75  Russian Federation          34.892377
40             Hungary          32.761516
11             Belarus          31.075913
47          Kazakhstan          30.511282
51              Latvia          29.259325
84            Slovenia          27.827857
30             Estonia          27.276905
95             Ukraine          26.582321

### Merge 'countries_gdp' and 'countries_avg_suicide_rate' on the country column...

In [45]:
countries_gdp_suicide_rate = countries_gdp.merge(countries_avg_suicide_rate,how='left',on='country')
countries_gdp_suicide_rate

                          country   gdp_for_year ($)   suicides/100k pop
0                         Albania        5.211661e+09           3.502879
1             Antigua and Barbuda        8.035452e+08           0.552901
2                       Argentina        2.742565e+11          10.469328
3                         Armenia        5.386592e+09           3.275872
4                           Aruba        2.196223e+09           9.503095
5                       Australia        6.327501e+11          12.992806
6                         Austria        2.660162e+11          23.759764
7                      Azerbaijan        7.210687e+09           1.855417
8                         Bahamas        7.613828e+09           1.247391
9                         Bahrain        1.608647e+10           1.854127
10                       Barbados        3.090574e+09           2.970433
11                        Belarus        3.067641e+10          31.075913
12                        Belgium        3.184024e+11          21.237903
13                         Belize        9.560371e+08           6.230625
14         Bosnia and Herzegovina        1.860153e+10           4.617083
15                         Brazil        1.022561e+12           5.846022
16                       Bulgaria        2.714460e+10          19.489111
17                     Cabo Verde        1.864824e+09          11.153333
18                         Canada        9.131876e+11          12.467586
19                          Chile        1.112543e+11          10.542043
20                       Colombia        1.444638e+11           5.401586
21                     Costa Rica        1.918353e+10           7.093667
22                        Croatia        4.317814e+10          22.835267
23                           Cuba        4.608462e+10          21.222049
24                         Cyprus        2.137970e+10           3.293596
25                 Czech Republic        1.220562e+11          18.487547
26                        Denmark        2.530342e+11          14.097159
27                       Dominica        9.858518e+07           0.000000
28                        Ecuador        3.960132e+10           6.304328
29                    El Salvador        1.354975e+10          10.541458
..                            ...                 ...                ...
71                    Puerto Rico        6.322157e+10          10.186237
72                          Qatar        1.100206e+11           1.787360
73              Republic of Korea        6.734208e+11          25.135618
74                        Romania        9.608785e+10          12.489671
75             Russian Federation        8.843229e+11          34.892377
76          Saint Kitts and Nevis        2.160186e+08           0.000000
77                    Saint Lucia        8.409455e+08           7.202738
78   Saint Vincent and Grenadines        4.884483e+08           5.755433
79                     San Marino        1.425417e+09           4.045000
80                         Serbia        3.112522e+10          22.164120
81                     Seychelles        8.564692e+08           7.480093
82                      Singapore        1.254921e+11          17.045645
83                       Slovakia        5.379573e+10          12.568788
84                       Slovenia        3.590006e+10          27.827857
85                   South Africa        2.494661e+11           0.964542
86                          Spain        8.565680e+11           9.432957
87                      Sri Lanka        1.532645e+10          35.295152
88                       Suriname        1.943388e+09          21.316429
89                         Sweden        3.549738e+11          14.658436
90                    Switzerland        4.565306e+11          19.024087
91                       Thailand        2.095240e+11           7.073862
92            Trinidad and Tobago        1.044825e+10          13.825648
93                         Turkey        8.382300e+11           2.371071
94                   Turkmenistan        1.157956e+10           8.605546
95                        Ukraine        8.389111e+10          26.582321
96           United Arab Emirates        2.532432e+11           1.317917
97                 United Kingdom        1.816067e+12           7.502473
98                  United States        1.051071e+13          13.819812
99                        Uruguay        2.337827e+10          19.461190
100                    Uzbekistan        2.286003e+10           8.099129

[101 rows x 3 columns]