<a href="https://colab.research.google.com/github/ROARMarketingConcepts/Data-Analysis-Projects/blob/master/Harvard_Art_Museum_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Harvard Art Museum API Assignment - Thinkful

Ken Wood

Technical Expert - Data Analytics

kwood@thinkful.com

In [0]:
import requests
import pandas as pd

### Send a query to the Harvard Art Museum API

In [0]:
url = 'https://api.harvardartmuseums.org/person'
query = {'apikey':'d792d820-8e00-11e9-b4c7-5b9efed608d2', 'q':'culture:British'}

In [3]:
response = requests.get(url, params=query)
response

## Load the response data...

In [4]:
data = response.json()
print(data.keys())

dict_keys(['info', 'records'])

In [5]:
len(data['info'])

5

In [6]:
len(data['records'])

10

In [7]:
records = data['records']
records

[{'alphasort': 'Hodges, William',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 1744,
  'dateend': 1797,
  'deathplace': None,
  'displaydate': '1744-1797',
  'displayname': 'William Hodges',
  'gender': 'unknown',
  'id': 746,
  'lastupdate': '2019-06-12T04:48:12-0400',
  'objectcount': 6,
  'personid': 746,
  'url': 'https://www.harvardartmuseums.org/collections/person/746'},
 {'alphasort': 'Kilburn, William Edward',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 1830,
  'dateend': 1884,
  'deathplace': None,
  'displaydate': 'active 1846-1862',
  'displayname': 'William Edward Kilburn',
  'gender': 'unknown',
  'id': 17981,
  'lastupdate': '2019-06-12T04:52:50-0400',
  'objectcount': 2,
  'personid': 17981,
  'url': 'https://www.harvardartmuseums.org/collections/person/17981'},
 {'alphasort': 'Ouless, Walter William',
  'birthplace': 'Saint Helier, Ise Jersey, England',
  'culture': 'British',
  'datebegin': 1848,
  'dateend': 1933,
  'deathplace': 'Isle of Jersey, England',
  'displaydate': '1848 - 1933',
  'displayname': 'Walter William Ouless',
  'gender': 'unknown',
  'id': 18231,
  'lastupdate': '2019-06-12T04:52:59-0400',
  'objectcount': 1,
  'personid': 18231,
  'url': 'https://www.harvardartmuseums.org/collections/person/18231'},
 {'alphasort': 'Barber, A.',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 0,
  'dateend': 0,
  'deathplace': None,
  'displaydate': None,
  'displayname': 'A. Barber',
  'gender': 'unknown',
  'id': 18345,
  'lastupdate': '2019-06-12T04:53:04-0400',
  'objectcount': 0,
  'personid': 18345,
  'url': 'https://www.harvardartmuseums.org/collections/person/18345'},
 {'alphasort': 'Barnes and Son',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 1830,
  'dateend': 1870,
  'deathplace': None,
  'displaydate': 'active mid 19th century ',
  'displayname': 'Barnes and Son',
  'gender': 'unknown',
  'id': 18352,
  'lastupdate': '2019-06-12T04:53:04-0400',
  'objectcount': 0,
  'personid': 18352,
  'url': 'https://www.harvardartmuseums.org/collections/person/18352'},
 {'alphasort': 'Bates, W.',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 1870,
  'dateend': 1879,
  'deathplace': None,
  'displaydate': 'active c. 1870s',
  'displayname': 'W. Bates',
  'gender': 'unknown',
  'id': 18366,
  'lastupdate': '2019-06-12T04:53:06-0400',
  'objectcount': 0,
  'personid': 18366,
  'url': 'https://www.harvardartmuseums.org/collections/person/18366'},
 {'alphasort': 'Beattle & Bark',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 1850,
  'dateend': 1899,
  'deathplace': None,
  'displaydate': 'active 2nd half of the 19th century',
  'displayname': 'Beattle & Bark',
  'gender': 'unknown',
  'id': 18420,
  'lastupdate': '2019-06-12T04:53:06-0400',
  'objectcount': 0,
  'personid': 18420,
  'url': 'https://www.harvardartmuseums.org/collections/person/18420'},
 {'alphasort': 'Ayling, S.',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 1860,
  'dateend': 1869,
  'deathplace': None,
  'displaydate': 'active c. 1860s',
  'displayname': 'S. Ayling',
  'gender': 'unknown',
  'id': 18416,
  'lastupdate': '2019-06-12T04:53:07-0400',
  'objectcount': 0,
  'personid': 18416,
  'url': 'https://www.harvardartmuseums.org/collections/person/18416'},
 {'alphasort': 'Mills, H.',
  'birthplace': None,
  'culture': 'British?',
  'datebegin': 1900,
  'dateend': 1999,
  'deathplace': None,
  'displaydate': '20th century',
  'displayname': 'H. Mills',
  'gender': 'unknown',
  'id': 18525,
  'lastupdate': '2019-06-12T04:53:09-0400',
  'objectcount': 4,
  'personid': 18525,
  'url': 'https://www.harvardartmuseums.org/collections/person/18525'},
 {'alphasort': 'Drummond, Samuel',
  'birthplace': None,
  'culture': 'British',
  'datebegin': 1765,
  'dateend': 1844,
  'deathplace': None,
  'displaydate': '1765 - 1844',
  'displayname': 'Samuel Drummond',
  'gender': 'unknown',
  'id': 18691,
  'lastupdate': '2019-06-12T04:53:16-0400',
  'objectcount': 1,
  'personid': 18691,
  'url': 'https://www.harvardartmuseums.org/collections/person/18691'}]

In [8]:
print(type(records))

<class 'list'>

In [9]:
df_records = pd.DataFrame(records)
df_records=df_records[['displayname','birthplace','culture']]
df_records

              displayname                         birthplace   culture
0          William Hodges                               None   British
1  William Edward Kilburn                               None   British
2   Walter William Ouless  Saint Helier, Ise Jersey, England   British
3               A. Barber                               None   British
4          Barnes and Son                               None   British
5                W. Bates                               None   British
6          Beattle & Bark                               None   British
7               S. Ayling                               None   British
8                H. Mills                               None  British?
9         Samuel Drummond                               None   British